/StopWatchGUI/target/
/exe/target/
/JavaApplicationJava8/nbproject/private/
/JavaApplicationJava8/build/
/JavaApplicationJava8/dist/
/UI/nbproject/private/
/UI/build/
/UI/dist/
/HttpConnection/nbproject/private/
/HttpConnection/build/
/HttpConnection/dist/